<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Python</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <body>
      <div class="container">
        <h1 class="title">Plantilla 1</h1>
        <p>Este es el contenido de la plantilla 1</p>
        <p>El contenido de la página se mostrará la fecha {{fecha_actual.day}}-{{fecha_actual.month}}-{{fecha_actual.year}}</p>
        <p>El nombre del mas capo es {{nombre_persona.upper}} {{apellido_persona.upper}}</p>
        <div>
          <ul>
            {% if numeros %}
              {% for num in numeros %}
                <li>{{num}}</li>
              {% endfor %}
            {% else %}
              <p>No hay numeros</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </body>
</body>
</html>